##############################################################
#
# Lists the owners of this Keptn community project
#
##############################################################
#
# 
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#
* @aloisreitbauer @AnaMMedina21 @AlexsJones
